{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Добро пожаловать в сервис курьерской доставки!</h1>
            <p>Данный сервис включает в себя оформление заказов, добавление товаров, отслеживание и многое другое! С подробным функционалом вы можете ознакомится ниже!</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('product.list') }}" role="button">Оформить заказ</a>
            <a class="btn btn-primary btn-lg" href="{{ path('product.add') }}" role="button">Добавить товар</a>
            <a class="btn btn-primary btn-lg" href="{{ path('product.list') }}" role="button">Получить список товаров</a></p>
        </div>
    </div>
{% endblock %}


